{% extends 'base.html.twig' %}
{% form_theme form 'tailwind_2_layout.html.twig' %}

{% block title %}Modifier le mot de passe
{% endblock %}

{% block body %}
	<a class="pt-6" href="{{path('app_account')}}">
		<button type="button" data-mdb-ripple="true" data-mdb-ripple-unbound="true" class="inline-block px-6 py-2.5  bg-blue-600 text-white font-medium text-xs leading-tight uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">Retour à mon compte</button>
	</a>


	<div class="container mx-auto px-4">


		<h1 class="px-8 text-center mt-8 text-[34px] text-white">Modifier le mot de passe</h1>

		<div class="max-w-md mx-auto bg-white p-8 rounded-lg shadow-lg">
			<h2 class="text-2xl font-bold text-gray-800 mb-4">Modifier les informations</h2>

			{{ form_start(form) }}

			<div class="mb-4">
				{{ form_row(form.email) }}
			</div>

			<div class="mb-4">
				{{ form_row(form.old_password) }}
			</div>

			<div class="mb-4">
				{{ form_row(form.new_Password.first) }}
			</div>

			<div class="mb-4">
				{{ form_row(form.new_Password.second) }}
			</div>

			<div class="mb-4">
				{{ form_row(form.nom) }}
			</div>

			<div class="mb-4">
				{{ form_row(form.prenom) }}
			</div>

			<div class="text-center">
				{{ form_row(form.submit) }}
			</div>

			{{ form_end(form) }}
		</div>


	</div>
{% endblock %}
