{% block body %}
	<div
		class="container my-24 px-6 mx-auto">

		<!-- Section: Design Block -->
		<section class="mb-32 text-gray-800">

			<h2 class="text-3xl font-bold mb-12 text-center"></h2>

			<div class="flex flex-wrap items-center">
				<div class="grow-0 shrink-0 basis-auto w-full lg:w-5/12 mb-12 lg:mb-0 md:px-6">
					<div class="relative overflow-hidden bg-no-repeat bg-cover rounded-lg shadow-lg" data-mdb-ripple="true" data-mdb-ripple-color="light" style="background-position: 50%">
						{% for _reassurance in reassuranceLeft %}
							<img src="/uploads/{{_reassurance.illustration}}" class="w-full"/>
							<a href="#!">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed" style="background-color: rgba(0, 0, 0, 0.6)">
									<div class="flex justify-center items-center h-full">
										<div class="px-6 py-12 md:px-12 text-white text-center">
											<h3 class="text-2xl uppercase font-bold mb-6 text-white">

												{{_reassurance.title}}<u style="color: white"></u>
											</h3>
											<p style="color: hsl(231, 52.6%, 85%)">

												{{_reassurance.content|raw}}
											</p>

										</div>
									</div>
								{% endfor %}
							</div>
							<div class="relative overflow-hidden bg-no-repeat bg-cover">
								<div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed opacity-0 hover:opacity-100 transition duration-300 ease-in-out" style="background-color: rgba(251, 251, 251, 0.2)"></div>
							</div>
						</a>
					</div>
				</div>

				<div class="grow-0  shrink-0 basis-auto w-full lg:w-7/12 md:px-6">
					{% for reassurance in reassurance %}
						<div class="flex mb-12">

							<div class="shrink-0">

								<div
									class="p-4 rounded-md shadow-lg" style="background-color: hsl(231, 52.6%, 20%)">
									{# <img src="/uploads/{{reassurance.illustration}}" class="" /> #}
									<img class=" text-white" src="/uploads/{{reassurance.illustration}}" style="height:45px" viewbox="0 0 512 512">
									<path fill="currentColor" d="M192 208c0-17.67-14.33-32-32-32h-16c-35.35 0-64 28.65-64 64v48c0 35.35 28.65 64 64 64h16c17.67 0 32-14.33 32-32V208zm176 144c35.35 0 64-28.65 64-64v-48c0-35.35-28.65-64-64-64h-16c-17.67 0-32 14.33-32 32v112c0 17.67 14.33 32 32 32h16zM256 0C113.18 0 4.58 118.83 0 256v16c0 8.84 7.16 16 16 16h16c8.84 0 16-7.16 16-16v-16c0-114.69 93.31-208 208-208s208 93.31 208 208h-.12c.08 2.43.12 165.72.12 165.72 0 23.35-18.93 42.28-42.28 42.28H320c0-26.51-21.49-48-48-48h-32c-26.51 0-48 21.49-48 48s21.49 48 48 48h181.72c49.86 0 90.28-40.42 90.28-90.28V256C507.42 118.83 398.82 0 256 0z"></path>
								</svg>
							</div>
						</div>
						<div class="grow ml-4">
							<p class="font-bold mb-1 text-white">{{reassurance.title}}</p>
							<p class="reatexte text-white" style="color:white !important">{{reassurance.content|raw}}</p>

						</div>

					</div>
				{% endfor %}
			</div>


		</section>
		<!-- Section: Design Block -->

	</div>
	<!-- Container for demo purpose -->
{% endblock %}
